language: ruby
rvm: 2.5.1
cache: bundler
sudo: false
before_install:
  - "echo '--colour' > ~/.rspec"
  - git config --global user.name 'Travis CI'
  - git config --global user.email 'travis-ci@example.com'
  - gem install bundler
  - gem update --system
install: bundle install
notifications:
  email: false
