<!doctype html>
<%%= render :partial => 'shared/ie_compatibility' %>
<html>
<head>
  <title><%= defined_app_name %></title>
  <%%= render :partial => 'shared/head' %>
</head>
<body class="<%%= body_class %>">
  <div id="header">
    <%% if signed_in? -%>
      <%%= link_to "Sign out", sign_out_path, :method => :delete %>
    <%% else -%>
      <%%= link_to "Sign in", sign_in_path %>
    <%% end -%>
  </div>
  <%%= render :partial => 'shared/flashes' %>
  <%%= yield %>
  <%%= render :partial => 'shared/javascript' %>
</body>
</html>
