<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <title><%%= page_title %></title>
  <%%= stylesheet_link_tag :application, :media => 'all' %>
  <%%= csrf_meta_tags %>
</head>
<body class="<%%= body_class %>">
  <%%= render 'flashes' -%>
  <%%= yield %>
  <%%= render 'javascript' %>
</body>
</html>
