<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="description" content="<%= yield(:page_description).presence || t('page_description') %>" />
  <title><%%= yield(:page_title).presence || t('page_title') %></title>
  <%%= stylesheet_link_tag :application, :media => 'all' %>
  <%%= csrf_meta_tags %>
</head>
<body>
  <%%= render 'flashes' -%>
  <%%= yield %>
  <%%= render 'javascript' %>
</body>
</html>
