<%# locals: (resource: ) %>

<% if resource.errors.any? %>
  <div id="error_explanation" role="alert" data-turbo-cache="false">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
